<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="icon" type="image/icon" sizes="16x16" href="images/favicon.ico">
   <link rel="stylesheet" href="css/bootstrap.css">
   <link rel="stylesheet" href="css/fontawesome.css">
   <link rel="stylesheet" href="css/general.css">
   <link rel="stylesheet" href="css/dashboard.css">
   <title>Smart Quiz - Dashboard</title>
</head>

<body>
   <%- include ('partials/header.ejs') %>
      <section class="hero-section">
         <form  id="form" >

            <div class="inputGroup">

               <div class="radio">
                  <input type="radio" id="id" class="radioBtn" name="filter" value="Id">
                  <label for="id">Search By ID</label>
                  <input type="radio" id='title' class="radioBtn" name="filter" value="title" checked>
                  <label for="title">Search By Title</label>
               </div>

               <input id="searchBox" class="searchBox" type="search" name="searchBox" placeholder="Search quiz">
               <button type="submit" class="Sbtn" id="Sbtn">Search</button>
            </div>

         </form>

         
            <div class="resultBox hide" id="resultBox1">
               <div id="close-icon"></div>
               <h2>No Quiz Found!</h2>
            </div>
       
      
         <div class="resultBox hide" id="resultBox2">
            <div id="close-icon" onclick="this.parentNode.remove();"></div>
            <div class="quizHeader">
               <p>Quiz ID</p>
               <p>Title</p>
               <p>Action</p>
            </div>
     
            <!-- <div class="quizDetail">
               <p></p>
               <p></p>
               <a href="" class="startBtn">Start</a>
            </div> -->
              
         </div>
      </section>

      <section class="container" id="main-body">

         <div class="c-card">
            <img src="images/quiz.png" class="c-img" alt="attempt quiz">
            <a href="quiz" class="cus-btn d-btn">Quiz</a>
         </div>
         <div class="c-card">
            <img src="images/exam.png" class="c-img" alt="result">
            <a href="s/result" class="cus-btn d-btn">Result</a>
         </div>
         <div class="c-card">
            <img src="images/user.png" class="c-img" alt="profile">
            <a href="/s/profile" class="cus-btn d-btn">Profile</a>

         </div>
         <div class="c-card">
            <img src="images/settings.png" class="c-img" alt="result">
            <a href="/setting" class="cus-btn d-btn">Setting</a>
         </div>
      </section>


      <script src="js/bootstrap.js"></script>
      <script src="js/dashboard.js"></script>
      <script src="js/axios.min.js"></script>
      <script src="js/fontawesome.js"></script>
</body>

</html>