<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="icon" type="image/icon" sizes="16x16" href="images/favicon.ico">
   <link rel="manifest" href="/site.webmanifest">
   <link rel="stylesheet" href="css/bootstrap.css">
   <link rel="stylesheet" href="css/fontawesome.css">
   <link rel="stylesheet" href="css/general.css">
   <link rel="stylesheet" href="css/welcome.css">
   <link rel="stylesheet" href="css/login.css">
   <link rel="stylesheet" href="css/register.css">
   <title>Smart Quiz</title>
</head>

<body>
   <%- body %>

      <script src="js/bootstrap.js"></script>
      <script src="js/fontawesome.js"></script>
</body>

</html>