<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="icon" type="image/icon" sizes="16x16" href="images/favicon.ico">
   <link rel="stylesheet" href="css/bootstrap.css">
   <link rel="stylesheet" href="css/fontawesome.css">
   <link rel="stylesheet" href="css/general.css">
   <link rel="stylesheet" href="css/welcome.css">
   <title>Smart Quiz</title>
</head>

<body>

   <header>
      <nav>
         <h1>Smart <span>Quiz</span></h1>

         <div class="buttons">
            <a href="/login" class="cus-btn">
               Sign In
            </a>

            <a href="/register" class="cus-btn">
               Sign Up
            </a>

         </div>
      </nav>
   </header>

   <section>
      <div class="div-intro">

         <h1>Smart <span>Quiz</span><br>Application</h1>

         <p>Smart Quiz is a web based quiz application that lets Teachers create quiz and Students can take test. A
            Unique
            Feature about Smart Quiz is that it uses webcam to check if student is looking at the screen or not while
            attempting the quiz.
         </p>

         <a href="/register" class="cus-btn signUpBtn">Sign Up</a>
      </div>

      <div class="div-image">
         <img src="images/signup-image.jpg">
      </div>

   </section>



   <script src="js/bootstrap.js"></script>
   <script src="js/fontawesome.js"></script>
</body>

</html>