.hero-section {
   background-image: url("../images/smartquiz2.png");
   background-size: cover;
   background-repeat: no-repeat;
   /* width: 160rem; */
   height: 40rem;
   position: relative;
}

.inputGroup {

   position: absolute;
   right: 25rem;
   bottom: 12rem;
}


.radio{
   width: 50rem;
   text-align: center;
   margin-bottom: .5rem;
}
.radio label {
   color: var(--yellow)
}

.radioBtn {
   background-color: var(--yellow);
   margin-left: 2rem;
   width: 1.8rem;
   height: 1.8rem;
}

.searchBox {
   font-size: 2rem;
   padding: 1rem;
   margin-right: -3.3px;
   width: 40rem;
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
   /* box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.3); */
}

.Sbtn{
   width: 10rem;
   height: 51.5px;
   font-size: 2rem;
   cursor: pointer;
   padding: 1rem;
   color: var(--navy);
   background-color: var(--yellow);
   /* box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.3); */
   border: none;
   border-top-right-radius: 1rem;
   border-bottom-right-radius: 1rem;
}

.resultBox{
   position: absolute;
   width: 50rem;
   padding:0.8rem;
   border-radius: 1rem;
   background-color: var(--very-pale-blue);
   right: 25rem;
   top: 27.8rem;
}
.close-icon {
   /* position: absolute   ; */
   width: 20px;
   height: 20px;
   border-radius: 5px;
   background-color: #dc3545;
   position: absolute;
   right: 15px;
   z-index: 1;
   cursor: pointer;
}
.close-icon::before{
   content: '';
   width: 15px;
   height: 2px;
   background-color: #fff;
   position: absolute;
   top: 9px;
   left: 2px;
   transform: rotate(45deg);
   z-index: 5;
}
.close-icon::after{
   content: '';
   width: 15px;
   height: 2px;
   background-color: #fff;
   position: absolute;
   top: 9px;
   right: 3px;
   transform: rotate(135deg);
   z-index: 6;
}

.quizHeader{
   font-size: 1.5rem;
   padding:0 1rem;
   margin-top: 2.5rem;
   display: flex;
   justify-content: space-between;
}
.quizHeader p{
   font-size: 2rem;
   border-bottom: 2px solid var(--red);
   
}

.quizDetail{
   padding:0 1rem;
   display: flex;
   justify-content: space-between;
}
.quizDetail p{
   font-size: 1.5rem;
}
.startBtn{
   text-decoration: none;
   width: 5rem;
   font-size: 1.5rem;
   color: var(--red);
}
.startBtn:hover{
   font-weight: bold;
   font-size: 1.7rem;
}


.container {
   margin-top: 2rem;
   /* background-color: black; */
   height: auto;
   padding: 3rem 0 0 4rem;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   gap: 6rem;
}



.c-card {
   width: 20rem;
   height: 20rem;
   background-color: white;
   border-radius: 2rem;
   padding-top: 2rem;
   box-shadow: 0 .5rem 1rem 0 rgba(0, 0, 0, 0.3);
   display: flex;
   flex-direction: column;
   /* justify-content: center; */
   align-items: center;
}

.c-img {
   width: 10rem;
   height: 10rem;
}

/* using d-btn as class name bacause cus-btn will override existing styles */
.d-btn {
   font-size: 1.5rem;
   margin-top: 1.5rem;
   width: 12rem;
   text-align: center;
}

.spacer {
   margin-top: 10rem;
}

.hide{
   display: none;
}