body{
   height: 100vh;
   /* background-color: #56a5eb; */
   background-color: #ecf5ff;
}


.hide{
   display: none;
}

.container{
   height: 90vh;
   /* padding: 1rem; */
   display: flex;
   justify-content: center;
   align-items: center;
}
#game{
   padding: 0.5rem;

}
#question{
   color: var(--navy);
   font-size: 4.2rem;
   margin-bottom: 2rem;
}


.choice-container{
   display: flex;
   margin-bottom: 1rem;
   width: 100%;
   font-size: 1.8rem;
   border: 0.1rem solid rgba(86, 165, 235, 0.25);
   background-color: white;
}

.choice-container:hover{
   cursor: pointer;
   box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
   transform: translateY(-0.1rem);
   transition: transform 150ms;
}

.choice-prefix{
   margin-bottom: 0rem;
   padding: 1.5rem 2.5rem;
   background-color: #56a5eb;               /*  var(--navy)*/ 
   color: white;                    /* var(--yellow)*/
}

.choice-text{
   width: 95%;
   padding: 1.5rem;
}





.incorrect{
   background-color: #dc3545;
}
.correct{
   background-color: #28a745;
}







/* HUD */

#hud{
   display: flex;
   justify-content:space-between;
   margin-bottom: 1rem;
}

.hud-prefix{
   font-size: 2rem;
   text-align: center;
}

.hud-main-text{
   color: #56a5eb;
   font-size: 4rem;
   text-align: center;
}


/* Progess Bar */

#progressBar{
   width: 20rem;
   height: 4rem;
   border: 0.2rem solid #56a5eb;
   margin-top: 1rem;
}

#progressBarFull{
   width: 50%;
   height: 3.6rem;
   background-color: #56a5eb;
}






/* modal */
.modal-title{
 font-size: 3rem !important;
 text-align: center;
}

.modal-body{

   font-size: 2rem !important;

}



/* Loader */

#loader{
   width: 12rem;
   height: 12rem;
   border: 1.6rem solid white;
   border-radius: 50%;
   border-top: 1.6rem solid #56a5eb;   
   animation: spin 2s linear infinite;
}

@keyframes spin {
   0%{
      transform: rotate(0deg);
   }
   100%{
      transform: rotate(360deg);
   }
}




/* If failed then this styles will be applied */
.failed{
   text-align: center;
   width: 50rem;
   padding: 1rem;
   background-color: white;
   border-radius: 2rem;
   box-shadow: 0 .4rem .8rem 0 rgba(255, 255, 255, 0.1);
}
.failedTitle{
   font-size: 4rem;
   color: #dc3545;
}
.failedPara{
   font-size: 2.5rem;
}





/* Canvas*/

#glanceTrackerCanvas{
   width: 20rem;
   height: 20rem;
   position: absolute;
   bottom: 3rem;
   right: 3rem
}